/target
/tools/pcap_diff/target
/tools/profile_collector/target
**/target/
.DS_Store
/docs
/.cursor
/.vscode
/.idea
/.uv-cache
/fuzz-protocol
/project_test
/lkrequest-ffi/generated.h
/lkrequest-ffi/include/lkrequest.h
/.claude/
CLAUDE.md
/*.log
/scripts